<div class="row">
  <div class="col-md-6">
    <a routerLink="/client/{{ client.id }}" class="btn btn-link">
      <i class="fa fa-arrow-circle-o-left"></i> Zurück zum Kunden
    </a>
  </div>
  <div class="col-md-6">

  </div>
</div>

<div class="card">
  <div class="card-header">
    Kunden bearbeiten
  </div>
  <div class="card-body">
    <form #clientForm="ngForm" (ngSubmit)="onSubmit(clientForm)">
      <div class="form-group">
        <label for="firstName">Vorname</label>
        <input 
          type="text"
          class="form-control"
          name="firstName"
          #clientFirstName="ngModel"
          [ngClass]="{'is-invalid': clientFirstName.errors && clientFirstName.touched}"
          [(ngModel)]="client.firstName"
          minlength="2"
          required
        >
        <div [hidden]="!clientFirstName.errors?.required" class="invalid-feedback">
          Vorname benötigt.
        </div>
        <div [hidden]="!clientFirstName.errors?.minlength" class="invalid-feedback">
          Vorname muss mindestens 2 Zeichen lang sein.
        </div>
      </div>

      <div class="form-group">
        <label for="lastName">Nachname</label>
        <input 
          type="text"
          class="form-control"
          name="lastName"
          #clientLastName="ngModel"
          [ngClass]="{'is-invalid': clientLastName.errors && clientLastName.touched}"
          [(ngModel)]="client.lastName"
          minlength="2"
          required
        >
        <div [hidden]="!clientLastName.errors?.required" class="invalid-feedback">
          Nachname benötigt.
        </div>
        <div [hidden]="!clientLastName.errors?.minlength" class="invalid-feedback">
          Nachname muss mindestens 2 Zeichen lang sein.
        </div>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input 
          type="text"
          class="form-control"
          name="email"
          #clientEmail="ngModel"
          [ngClass]="{'is-invalid': clientEmail.errors && clientEmail.touched}"
          [(ngModel)]="client.email"
          pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
          required
        >
        <div [hidden]="!clientEmail.errors?.required" class="invalid-feedback">
          Email benötigt.
        </div>
        <div [hidden]="!clientEmail.errors?.pattern" class="invalid-feedback">
          Keine gültige Email.
        </div>
      </div>

      <div class="form-group">
        <label for="phone">Telefon</label>
        <input 
          type="text"
          class="form-control"
          name="phone"
          #clientPhone="ngModel"
          [(ngModel)]="client.phone"
        >
      </div>

      <div class="form-group">
        <label for="firm">Firma</label>
        <input 
          type="text"
          class="form-control"
          name="firm"
          #clientfirm="ngModel"
          [(ngModel)]="client.firm"
        >
      </div>

      <input type="submit" value="Submit" class="btn btn-primary btn-block">
    </form>
  </div>
</div>